@font-face {
    font-family: Mega Sans Beta;
    src: url(./font/MegaSansBeta-Regular_v02-08.otf);
}
@font-face {
    font-family: Mega Sans S;
    src: url(./font/MegaSansS-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
   
}
a {
    text-decoration: none;
}
.background{
    background-color: #8654CC;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat no-repeat;
    position: relative;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
}
.index-element{
    position: absolute;
    max-width: 169px;
    animation: animation 3s infinite none;
}
@keyframes animation  {
    0%{
        transform: rotate(-7deg);
    }
    50%{
        transform: rotate(7deg);
    }
    100%{
        transform: rotate(-7deg);
    }
}
.index-element-1{
    top: 25%;
    left: 0;
}
.index-element-2{
    top: 15%;
    right: 0;
}
.index-element-3{
    bottom: 10%;
    left: 0;
}
.index-element-4{
    bottom: 10%;
    right: 0;
}
.index-logo{
    margin: 134px 0px 36px 0px ;
}
.home-question{
    color: #FFF;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 40px;
    text-align: center;
}
.gallery-sneakers{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 47px;
}
.gallery-sneakers .gallery-sneakers-item{
    width: 16%;
}
.button-main{
    background-color: white;
    border-radius: 36.5px;
    width: 360px;
    height: 73px;
    font-family: Mega Sans S;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 114.4%;
    text-align: center;
    text-transform: uppercase;
    color: #6933B0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
    margin: 28px 0px 145px 0px;
}
.index-footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 50px;
}
.index-footer-text-title{
    color: #FFF;
    text-align: center;
    font-family: Mega Sans Beta;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
.quiz{
    width: 100%;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}
.quiz-element-1{
    top: 5%;
    left: 5%;
    z-index: 1;
}
.quiz-element-2{
    top: 5%;
    right: 5%;
    z-index: 1;
}
.quiz-element-3{
    bottom: 5%;
    left: 5%;
    z-index: 1;
}
.quiz-element-4{
    bottom: 5%;
    right: 5%;
    z-index: 1;
    max-width: 140px;
}
.end-element-1{
    top: 5%;
    left: 5%;
}
.end-element-2{
    top: 5%;
    right: 5%;
}
.end-element-3{
    bottom: 5%;
    left: 5%;
}
.end-element-4{
    bottom: 5%;
    right: 5%;
}
.quiz-wrapper{
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
.svg-quiz{
    display: flex;
    justify-content: center;
    margin: 27px 0px 27px 0px;
}

.quiz-card{
    width: 25.8%;
    height: 359px;
    border-radius: 30px;
    padding: 39px 25px 0px 30px;
    background: #EDCFFC;
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.4%;
    color: #3A3A3A;
    transition: 0.5s;
}
.quiz-card:hover > .number-answer{
    color: #6933B0;
}
.quiz-card:hover > .answer{
    color: #6933B0;
}
.quiz-card:hover{
    background: #FFF;
   
}
.number-answer:hover{
    color: #6933B0;
}
.active{
    background: #fff;
    color: #FFFFFF !important;
}
.active > .number-answer{
    color: #6933B0;
}
.active > .answer {
    color: #6933B0;
}

.question{
    font-family: SBS-B;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #3A3A3A;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 34px 0px 66px 0px;
    position: sticky;
    z-index: 2;
}
.question-center{
    text-align: center;
    margin-bottom: 25px;
    width: 85%;
    margin: 0 auto;
    font-family: Mega Sans S;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
.next{
    background: #C2F09C;
    border-radius: 30px;
    border: 0;
    width: 150px;
    height: 54px;
    font-family: Mega Sans S;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 114.4%;
    text-align: center;
    text-transform: uppercase;  
    color: #6933B0;
    transition: 0.3s;  
}
.next:hover{

    background: #FFF;
}
.prev:hover{
    background: #fff;
    color: #6933B0;
}
.prev{
    color: #EDCFFC;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #9B6DD6;
    border: 0;
    border-radius: 30px;
    width: 150px;
    height: 54px;
    font-weight: 400;
    transition: .3s;
}
.prev:disabled{
    background: rgba(237, 207, 252, 0.20);
    opacity: 0.5;
    
}
 .next:disabled{
    background-color: #c2f09c6b;
}
.number-answer{
    margin: 0;
}
.answer{
    margin: 20px 0px 0px 0px ;
    color: #6933B0;
    font-family: Mega Sans Beta;
    font-size: 28px;
    line-height: 115%;
    transition: .6s;
}
.dots{
    display: flex;
    justify-content: center;
}
.dots-purple{
    background: white;
    opacity: 0.2;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 5px;
}
.number-answer{
    color: #6933B0;
    font-family: Mega Sans Beta;
    font-size: 20px;
    margin-bottom: 135px;
    text-transform: uppercase; 
   
    transition: 0.5s;
}
.active-dots{
    opacity: 1;
}
.number-question{
    font-family: Mega Sans S;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #C2F09C;
    margin: 0px 0px 13px 0px;
}
.title-and-number{
    width: 100%;
}
.disabled{
    display: none !important;
}
.respons-output{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.position{
    position: sticky;
}
.skin-type-title{
    font-family: Mega Sans S;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 22px 0px ;
}
.skin-type-sub-title{
    font-family: Mega Sans Beta;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    max-width: 750px; 
}
.skin-care-title{
    font-family: SBS-B;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #3A3A3A;
    margin: 30px 0px 0px 0px ;
}
.skin-care-sub-title{
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #3A3A3A;
    max-width: 775px;
}
.danger{  
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #3A3A3A;
    opacity: 0.5;
    margin: 70px 0px 70px 0px ;
}
.image-gallary{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0px 0px 0px ;
}
.galary-item{
    padding: 66px 18px 20px 19px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galary-item-title{
    color: #8654CC;
    text-align: center;
    font-family: Mega Sans Beta;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.galary-item-sub-title{
    
    color: #8654CC;
    text-align: center;
    font-family: Mega Sans Beta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.galary-item img {
    transition: .2s;
    max-width: 263px;
    margin-bottom: 46px;
}
.galary-item:hover > img {
    object-fit: cover;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.galary-item-text{
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3A3A3A;
    margin: 12px 0px 0px 0px ;
}
.text-megamarket{
    color: #FFF;
    text-align: center;
    font-family: Mega Sans Beta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 26px 0px 46px 0px ;
}
.end-button{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-bottom: 58px;
}
.testRepeat {
    text-transform: uppercase;
    border-radius: 30px;
    background: #9B6DD6;
    padding: 15px 0px;
    width: 300px;
    text-decoration: none;
    transition: .5s;
    color: #EDCFFC;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.promo-button{
    width: 300px;
    color: #6933B0;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 15px 0px;
    border-radius: 30px;
    background: #C2F09C;
    text-transform: uppercase;
    transition: .6s;
}
.promo-button:hover{
    background: #FFF;
}
.site{
    width: 300px;
    text-decoration: none;
    padding: 15px 0px;
    color: #6933B0;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 30px;
    background: #FFE3C7;
    transition: .6s;
}
.site:hover{
    background: #FFF;
}
a.testRepeat:hover, .button-main:hover {
    color: #6933B0;
    background: #FFF;
}
.circleText {
    position: absolute;
    left: 10%;
    top: 10%;
    animation: circleText 45s linear infinite;
}
@keyframes circleText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media  screen and (max-width:1910px) {
    .btns{
        margin: 34px 0px 20vh 0px ;
    }
}
@media screen and (max-width:1700px){
    .btns{
        margin: 34px 0px 80px 0px;
    }
}
@media screen and (max-width:1500px) {
    .index-footer-text{
        margin-bottom: 100px;
    }
    .end-element-4 {
        bottom: 3%;
        right: 5%;
    }
    .end-element-3 {
        bottom: 3%;
        right: 5%;
    }
    .svg-quiz {
        margin: 87px 0px 27px 0px;
    }
    .quiz-element-2 {
        top: 2%;
        right: 4%;
    }
}
@media screen and (max-width:1280px){
    .quiz-wrapper{
        max-width: 960px;
    }
    .quiz-card{
        width: 236px;
    }
    .galary-item{
        width: 24%;
    }
    .galary-item > img{
        width: 100%;
    }
    .number-question{
        margin-top: 180px;
    }

}
@media screen and (max-width:1024px){
    .background{
        background-color: #8654CC;
        height: 100%;
        width: 100%;
    }
    .quiz-card{
        height: 219px;
        width: 27.5%;
        padding: 18px;
    }
    .number-answer{
        margin-bottom: 80px;
        font-size: 16px;
    }
    .quiz{
        gap: 16px;
    }
    
    .quiz-wrapper{
       max-width: 90%;
     }
     .galary-item-text{
        font-size: 14px;
     }
     .image-gallary{
        gap: 20px;
     }
     .question-center{
        font-size: 28px;
     }
     .answer{
        font-size: 20px;
     }
     .index-element{
        width: 120px;
     }
     .svg-quiz{
        margin: 50px 0px 80px 0px ;
     }
     .end-element-1{
        left: 2%;
        top: 2%;       
    }
    .end-element-2{
        right: -5%;
        top: 1%;
    }
    .end-element-3{
        left: 2%;
        bottom: 7%;
        z-index: 1;
    }
    .end-element-4{
        right: 1%;
        bottom: 4%;
    }
    .end-button{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .index-footer-text{
        margin-bottom: 40px;
    }
    .index-logo{
        margin: 290px 0px 20px 0px;
    }
    .index-element-1{
        left: -2%;
        top: 9%;       
    }
    .index-element-2{
        right: 0%;
        top: 3%;
    }
    .index-element-3{
        left: -4%;
        bottom: 22%;
        z-index: 1;
    }
    .index-element-4{
        right: -4%;
        bottom: 17%;
    }
    .button-main{
        margin: 28px 0px 270px 0px;
    }
    .index-logo{
        width: 70%;
    }
}
@media screen and (max-width:900px) {
    .quiz-card{
        width: 27%;
    }
}
@media screen and (max-width:850px) {
    .quiz-card{
        width: 26.5%;
    }
}
@media screen and (max-width:800px) {
    .quiz-card{
        width: 26%;
    }
}
@media screen and (max-width:745px){
    
    .skin-type-title{
        font-size:24px ;
    }
    .skin-type-sub-title{
        font-size: 16px;
    }
    .skin-care-title{
        font-size: 24px;
    }
    .skin-care-sub-title{
        font-size: 16px;
    }
    .galary-item{
        width: 47%;
    }
    .title-main{
        font-size: 80px;
        margin: 46px 0px 0px 0px ;
    }
    .sub-title-main{
        font-size: 32px;
    }
    .text-main{
        font-size: 20px;
        margin: 70px 0px 0px 0px ;
    }
    .home-question{
        font-size: 28px;
    }
    .quiz-card{
        width: 25.5%;
    }
    .prev:hover {
        background: #9B6DD6;
        color: white;
    }
}
@media screen and (max-width:700px) {
    .quiz-wrapper{
        display: flex;
        flex-direction: column;
    }
    
    .quiz-card{
        width: 100%;
        height: 110px;
        max-width: 100%;
        height: 180px;
        padding: 20px;
    }
    .answer{
        margin: 5px 0px 0px 0px ;
    }
    .question-center{
        font-size: 24px;
    }
    .button-main{
        width: 320px;
        margin-top: 20px;
    }
    .circleText {
        display: none;
    }
    .image-gallary{
        display: flex;
        flex-wrap: wrap;
    }
    .galary-item{
        width: 35%;
    }
    .index-logo{
        width: 90%;
    }
    .btns{
        position: sticky;
        margin: 20px 0px 120px 0px;
    }
    .prev{
        height: 50px;
        width: 122px;
    }
    .next{
        height: 50px;
        width: 122px;
    }
    .dots{
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
    }
    .index-footer-text > img{
        width: 45%;
    }
}

@media screen and (max-width:450px){
    .answer{
        font-size: 16px;
    }
    .number-answer{
        font-size: 18px;
        margin-bottom: 24px;
    }
    .question-center{
        font-size:16px ;
    }
    .image-gallary{
        gap: 14px;
    }
    .skin-type-title{
        font-size: 22px;
    }
    .skin-type-sub-title{
        font-size: 14px;
    }
    .skin-care-title{
        font-size: 22px;
    }
    .skin-care-sub-title{
        font-size: 12px;
    }
    .galary-item-text{
        font-size: 12px;
    }

    .title-main{
        font-size: 48px;
        margin: 25px 0px 0px 0px ;
    }
    .sub-title-main{
        font-size: 20px;
    }
    .text-main{
        font-size: 14px;
    }
    .quiz-card{
        width: 100%;
        max-width: 100%;
        padding: 18px;
        height: 98px;
        z-index: 2;
    }
    .btns{
        z-index: 2;
        position: sticky;
    }
    .index-element{
        max-width: 100px;
    }
    .quiz-element-1{
        left: 0;       
    }
    .quiz-element-2{
        right: -10%;
        top: 3%;
    }
    .quiz-element-3{
        left: -2%;
        bottom: 22%;
        z-index: 1;
    }
    .quiz-element-4{
        right: -4%;
        bottom: 16%;
        max-width: 90px;
    }
    .end-element-1{
        left: 0;
        top: 1%;       
    }
    .end-element-2{
        right: -10%;
        top: 3%;
    }
    .end-element-3{
        left: -2%;
        bottom: 1%;
        z-index: 1;
    }
    .end-element-4{
        right: -4%;
        bottom: 1%;
    }
    .number-question{
        margin-top: 55px;
        font-size: 30px;
    }
    .image-gallary{
        display: flex;
    }
    .galary-item{
        width: 100%;
        display: flex;
        gap: 25px;
        padding: 31px 24px 31px 18px;
        justify-content: space-between;
        flex-direction: row-reverse;

    }
    .galary-item > img{
        width: 141px;
        margin: auto 0;
    }
    .end-button{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
    .testRepeat{
        width: 100%;
    }
    .promo-button{
        width: 100%;
    }
    .site{
        width: 100%;
    }
    .svg-quiz{
        margin: 50px 0;
    }
    .index-footer-text{
        margin-bottom: 100px;
    }
    .gallery-sneakers{
        gap: 30px;
    }
    .gallery-sneakers .gallery-sneakers-item {
        width: 28%;
    }
}