@font-face {
    font-family: SBS-B;
    src: url(./font/SBSansDisplay-Bold.otf);
}
@font-face {
    font-family: SBS-L;
    src: url(./font/SBSansDisplay-Light.otf);
}
@font-face {
    font-family: SBS-R;
    src: url(./font/SBSansDisplay-Regular.otf);
}
@font-face {
    font-family: SBS-S;
    src: url(./font/SBSansDisplay-SemiBold.otf);
}
@font-face {
    font-family: SBS-T;
    src: url(./font/SBSansDisplay-Thin.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.background{
    background-color: #8654CC;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat no-repeat;
    position: relative;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
}
.index-element{
    position: absolute;
    max-width: 169px;
    animation: animation 3s infinite none;
}
@keyframes animation  {
    0%{
        transform: rotate(-7deg);
    }
    50%{
        transform: rotate(7deg);
    }
    100%{
        transform: rotate(-7deg);
    }
}
.index-element-1{
    top: 25%;
    left: 0;
}
.index-element-2{
    top: 15%;
    right: 0;
}
.index-element-3{
    bottom: 10%;
    left: 0;
}
.index-element-4{
    bottom: 10%;
    right: 0;
}
.index-logo{
    margin: 134px 0px 36px 0px ;
}
.home-question{
    color: #FFF;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 40px;
    text-align: center;
}
.gallery-sneakers{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 47px;
}
.gallery-sneakers .gallery-sneakers-item{
    width: 16%;
}
.button-main{
    background-color: white;
    border-radius: 36.5px;
    width: 360px;
    height: 73px;
    font-family: Mega Sans S;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 114.4%;
    text-align: center;
    text-transform: uppercase;
    color: #6933B0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
    margin: 28px 0px 145px 0px;
}
.index-footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.index-footer-text-title{
    color: #FFF;
    text-align: center;
    font-family: Mega Sans Beta;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
}
.quiz{
    width: 100%;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}
.quiz-wrapper{
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.quiz-card{
    max-width: 302px;
    width: -webkit-fill-available;
    height: 359px;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 39px 25px 0px 30px;
    background: #EDCFFC;
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.4%;
    color: #3A3A3A;
    transition: 0.5s;
}
.quiz-card:hover > .number-answer{
    color: white !important;
}
.quiz-card:hover{
    background: #7A3BA4;
    color: white;
}
.number-answer:hover{
    color: white;
}
.active{
    background: #7A3BA4;
    color: #FFFFFF !important;
}
.active > .number-answer{
    color: white !important;
}

.question{
    font-family: SBS-B;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #3A3A3A;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 34px 0px 66px 0px  ;
}
.question-center{
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
    font-family: Mega Sans S;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
.next{
    background: #C2F09C;
    border-radius: 30px;
    border: 0;
    width: 150px;
    height: 54px;
    font-family: SBS-B;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 114.4%;
    text-align: center;
    text-transform: uppercase;  
    color: #6933B0;
    transition: 0.3s;  
}
.next:hover{

}
.prev:hover{
  
}
.prev{
    color: #EDCFFC;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #EDCFFC;
    border: 0;
    border-radius: 30px;
    width: 150px;
    height: 54px;
}
.prev:disabled, .next:disabled{
    opacity: 0.2;
}
.number-answer{
    margin: 0;
}
.answer{
    margin: 20px 0px 0px 0px ;
    color: #6933B0;
    font-family: Mega Sans Beta;
    font-size: 28px;
}
.dots{
    display: flex;
    justify-content: center;
}
.dots-purple{
    background: white;
    opacity: 0.2;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 5px;
}
.number-answer{
    color: #6933B0;
    font-family: Mega Sans Beta;
    font-size: 20px;
    margin-bottom: 135px;
    text-transform: uppercase; 
    color: #3A3A3A;
    transition: 0.5s;
}
.active-dots{
    opacity: 1;
}
.number-question{
    font-family: Mega Sans S;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #C2F09C;
    margin: 100px 0px 13px 0px;
}
.title-and-number{
    width: 100%;
}
.disabled{
    display: none !important;
}
.respons-output{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.position{
    position: sticky;
}
.skin-type-title{
    font-family: Mega Sans S;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 100px 0px 22px 0px ;
}
.skin-type-sub-title{
    font-family: Mega Sans Beta;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    max-width: 750px; 
}
.skin-care-title{
    font-family: SBS-B;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #3A3A3A;
    margin: 30px 0px 0px 0px ;
}
.skin-care-sub-title{
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #3A3A3A;
    max-width: 775px;
}
.danger{  
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #3A3A3A;
    opacity: 0.5;
    margin: 70px 0px 70px 0px ;
}
.image-gallary{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 40px 0px 0px 0px ;
}
.galary-item{
    padding: 66px 18px 20px 19px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galary-item img {
    transition: .2s;
    max-width: 263px;
    margin-bottom: 46px;
}
.galary-item:hover > img {
    object-fit: cover;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.galary-item-text{
    font-family: SBS-R;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3A3A3A;
    margin: 12px 0px 0px 0px ;
}
.end-button{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 58px;
}
.testRepeat {
    text-transform: uppercase;
    border-radius: 30px;
    background: #9B6DD6;
    padding: 15px 0px;
    width: 300px;
    text-decoration: none;
    transition: .5s;
    color: #EDCFFC;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.promo-button{
    width: 300px;
    color: #6933B0;
    text-align: center;
    font-family: Mega Sans S;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 15px 0px;
    border-radius: 30px;
    background: #C2F09C;
    text-transform: uppercase;
}
a.testRepeat:hover, .button-main:hover {
    background: #7A3BA4;
    color: #FFF;
}
.circleText {
    position: absolute;
    left: 10%;
    top: 10%;
    animation: circleText 45s linear infinite;
}
@keyframes circleText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media  screen and (max-width:1910px) {
    .btns{
        margin: 34px 0px 20vh 0px ;
    }
}
@media screen and (max-width:1700px){
    .btns{
        margin: 34px 0px 17vh 0px;
    }
}
@media screen and (max-width:1280px){
    .quiz-wrapper{
        max-width: 960px;
    }
    .quiz-card{
        width: 438px;
    }
    .galary-item{
        width: 24%;
    }
    .galary-item > img{
        width: 100%;
    }

}
@media screen and (max-width:1024px){
    .background{
        background-color: #8654CC;
        background-size: cover ;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat no-repeat;
        position: relative;
        background-position: top center;
        background-attachment: fixed;
    }
    
    .quiz-wrapper{
       max-width: 90%;
     }
     .galary-item-text{
        font-size: 14px;
     }
     .image-gallary{
        gap: 20px;
     }
}
@media screen and (max-width:745px){
    .quiz-card{
        width: 283px;
    }
    .skin-type-title{
        font-size:24px ;
    }
    .skin-type-sub-title{
        font-size: 16px;
    }
    .skin-care-title{
        font-size: 24px;
    }
    .skin-care-sub-title{
        font-size: 16px;
    }
    .image-gallary{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .galary-item{
        width: 47%;
    }
    .title-main{
        font-size: 80px;
        margin: 46px 0px 0px 0px ;
    }
    .sub-title-main{
        font-size: 32px;
    }
    .text-main{
        font-size: 20px;
        margin: 70px 0px 0px 0px ;
    }
}
@media screen and (max-width:700px){
    .quiz-wrapper{
        display: flex;
        flex-direction: column;
    }
    .quiz-card{
        width: 100%;
        height: 110px;
        padding: 10px 0px 15px 15px;
    }
    .answer{
        margin: 5px 0px 0px 0px ;
    }
    .dots{
        display: none;
    }
    .question-center{
        font-size: 24px;
    }
    .button-main{
        width: 320px;
        margin-top: 20px;
    }
    .circleText {
        display: none;
    }
    
}
@media screen and (max-width:450px){
    .answer{
        font-size: 14px;
    }
    .number-answer{
        font-size: 20px;
    }
    .question-center{
        font-size:14px ;
    }
    .next{
        width: 100px;
        height: 36px;
        font-size: 14px;
    }
    .prev{
        width: 100px;
        height: 36px;
        font-size: 14px;
    }
    .image-gallary{
        gap: 14px;
    }
    .skin-type-title{
        font-size: 22px;
    }
    .skin-type-sub-title{
        font-size: 12px;
    }
    .skin-care-title{
        font-size: 22px;
    }
    .skin-care-sub-title{
        font-size: 12px;
    }
    .galary-item-text{
        font-size: 12px;
    }

    .title-main{
        font-size: 48px;
        margin: 25px 0px 0px 0px ;
    }
    .sub-title-main{
        font-size: 20px;
    }
    .text-main{
        font-size: 14px;
    }
}